@charset "utf-8" ;

html, {

  font-family: sans-serif;
  box-sizing: border-box;
}

header {
  background-color: #7cc576;
  width:100%;
  padding: 10px;

}

nav a {
text-decoration: none;
background-color: #6dcff6

}

body {
  margin: 0;
}

main {
  background-image: url(../img/main-bg.png)

}



.main-content {

  display: inline-block;
  width: 63%;
  padding: 15px;
  box-sizing: border-box;
  margin: 0;
}

.side-bar {

  display: inline-block;
  width: 35%;
  padding: 15px;
  box-sizing: border-box;
 
}
.image-gallery .img-slide {

width: 33%;
padding: 10px;
box-sizing: border-box;
float: right;
background-image: url(../img/main-bg.png)
}

.social-media {

  display: inline-block;
  float: right;
  padding: 10px;
}

footer {
  display: inline-block;
  background-color: #7cc576;
  width:100%;
  box-sizing: border-box;
  padding: 10px;
}

  .desktop-nav {
    display: block;
  }

  .mobile-nav {
    display: none;
}