
/*http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)

   tried and tested code for CSS reset. Line 1 - 56 will potentially be in all your CSS!
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*CSS clearfix - if you have floating elements inside, you require CSS clearfix so it displays properly*/

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/*CSS clearfix end*/


@charset "utf-8" ;

html {

  font-family: Arial;
  box-sizing: border-box;
  max-width: 960px;
  margin: 0 auto;
  padding: 0px;
}

header {
  background-color: #7cc576;
  width:100%;
  padding: 0px;

}

nav a {
text-decoration: none;
background-color: #6dcff6

}

body {
  margin: 0;
}

a {
  display: block;
  padding: 0px;
}

main {
  background-image: url(../img/main-bg.png)

}

.main-content {

  display: inline-block;
  width: 63%;
  padding: 0px;
  box-sizing: border-box;
  margin: 0;
}

.side-bar {

  display: inline-block;
  width: 35%;
  padding: 15px;
  box-sizing: border-box;
 
}
.image-gallery .img-slide {

width: 33%;
padding: 10px;
box-sizing: border-box;
float: right;
background-image: url(../img/main-bg.png)
}

.social-media {

  display: inline-block;
  float: right;
  padding: 2px;
}

footer {
  display: inline-block;
  background-color: #7cc576;
  width:100%;
  box-sizing: border-box;
  padding: 1px;
}

  .desktop-nav {
    display: block;
  }

  .desktop-nav ul {
  width:100%;
}

  .mobile-nav {
    display: none;
}