
/*http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)

   tried and tested code for CSS reset. Line 1 - 56 will potentially be in all your CSS!
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;

}

body {
  line-height: 1;
  padding: 0;

}
ol, ul, li {
  list-style-type: none;

}
blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*CSS clearfix - if you have floating elements inside, you require CSS clearfix so it displays properly*/

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/*CSS clearfix end*/


@charset "utf-8" ;

html {

  box-sizing: border-box;
  max-width: 1024px;
  margin: 0 auto;

}
/*
header {
  background-color: #7cc576;
  width:100%;

}
*/

.logo {
  background: white;

}

nav {
  width: 100%;
  background-color: #72a9ae;
  padding: 1em;

}


nav a {
  color: black;
  text-decoration: none;
  padding: 15px 35px;

}

main {
  background-image: url(../img/floor-tile.png)

}

h1 {
  font-size: 40px;
  color: #72a9ae;
    padding: 20px;


}

h2 {
  font-size: 20px;
  padding: 9px;
  color: #72a9ae;
}

.main-content {

  box-sizing: border-box;
  width: 60%;
  float: left;

}

.side-image {
  float: left;
  box-sizing: border-box;
  width: 40%;
  padding: 20px;
 
}

table, th, td {

  border: 1px solid black;
      
}

th, td {
  text-align: center;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #fffd9d;

}

table {
 background-color: white;

}

.form-container {
  width: 50%;
  box-sizing: border-box;
  float: left;

}

.col-25 {
  float: left;
  width: 25%;

}

.col-75 {
  float: left;
  width: 75%;
}

form {
  padding-left: 2em;
  background-image: url(../img/floor-tile.png)

}

form div {
  padding-bottom: 1em;
}

.results {
  width: 50%;
  box-sizing: border-box;
  float: left;
  background-image: url(../img/floor-tile.png)

}

.fa-user-circle {
  color: #454545;
  font-size: 100px;
}

.fa-envelope {
  color: ;
  font-size: 30px;
}

footer {

  background-color: #454545;
  width: 100%;
  box-sizing: border-box;
  float: left;
}

.quick-links, .follow-us, .address {

  width: 33.33%;
  box-sizing: border-box;
  float: left;
  padding: 2em 3em;
}

.quick-links a {

  text-decoration: none;
  color: black;

}

.quick-links li {

  padding: 1em;
}
